# Astroneer LXC environment
# Copied to /etc/astroneer/astroneer.env by scripts/provision.sh

ASTRONEER_HOME=/opt/astroneer

DEBUG=false
DISABLE_ENCRYPTION=false
CREATE_LAUNCHER_CONFIG=true
FORCE_CHOWN=false
